<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="../public/style.css" />
  <link href="../public/css/bootstrap.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <section class="banner-box">
    <div class="banner-top">
      <a class="logo" href="/">
        <img src="../public/img/logo3.png" class="img-fluid" alt="logo" style="float: left;">
      </a>
      <div class="title-logo">
        <p class="title">CỔNG DỊCH VỤ CÔNG TỈNH HÀ GIANG</p>
        <br>
        <p class="link">dichvucong.hagiang.gov.vn</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </section>
  <!-- Thanh navbar -->
  <section>
    <nav class="navbar navbar-expand-lg navbar-dark py-0">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mx-auto mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/view/trang-chu.html">TRANG CHỦ <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/view/thu-tuc.html">THỦ TỤC HÀNH CHÍNH <span class="sr-only"></span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link link-toggle" href="/view/gui-hs-thpt.html">GỬI HỒ SƠ</a>
            <a class="dropdown-toggle " href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Bạn chưa đăng nhập, bấm vào đây để đăng nhập lại</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">TRA CỨU HỒ SƠ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ĐÁNH GIÁ</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link link-toggle" href="#">BÁO CÁO - THỐNG KÊ</a>
            <a class="dropdown-toggle " href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Báo cáo tỏng hợp</a>
              <a class="dropdown-item" href="#">Thống kê tổng hợp</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">GÓP Ý</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PHẢN ÁNH KIẾN NGHỊ</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link link-toggle" href="#">TRỢ GIÚP</a>
            <a class="dropdown-toggle " href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Item 1</a>
              <a class="dropdown-item" href="#">Item 2</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">THANH TOÁN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LIÊN KẾT</a>
          </li>
        </ul>
      </div>
    </nav>
  </section>
  <!-- Quảng cáo -->
  <div class="container-fluid">
    <section class="n-content">
      <div class="row">
        <div class="col-xs-4 col-md-6">
          <a href="#">
            <img class="img-ad" src="../public/img/sample_img.png" /></a>
          <a href="#">
            <img class="img-ad" src="../public/img/sample_img.png" /></a>
        </div>
        <div class="col-md-12 col-xs-8">
          <div id="slideshow">
            <div id="slideshowWindow"></div>
          </div>
        </div>
      </div>
    </section>

    <!-- Đăng nhập/ Đăng ký -->
    <section class="main-content pt-1">
      <div class="row">
        <!-- Danh sách tin mới nhất -->
        <div class="column-left col-xs-12 col-sm-4 col-lg-3 my-3">
          <div class="news-title top-title-frame">
            <p>DANH SÁCH TIN MỚI NHẤT</p>
          </div>
          <div class="news-list">
            <ul class="list_news_ul">
              <li class="list_news_li">
                <a class="list_news_a" href="#">Lorem ipsum dolor sit ameted consectetur adipisicing elit. Lorem ipsum
                  dolor sit ameted consectetur adipisicing elit.
                </a>
              </li>
              <li class="list_news_li">
                <a class="list_news_a" href="#">Lorem ipsum dolor sit ameted consectetur adipisicing elit. Lorem ipsum
                  dolor sit ameted consectetur adipisicing elit.
                </a>
              </li>
              <li class="list_news_li">
                <a class="list_news_a" href="#">Lorem ipsum dolor sit ameted consectetur adipisicing elit. Lorem ipsum
                  dolor sit ameted consectetur adipisicing elit.
                </a>
              </li>
              <li class="list_news_li">
                <a class="list_news_a" href="#">Lorem ipsum dolor sit ameted consectetur adipisicing elit. Lorem ipsum
                  dolor sit ameted consectetur adipisicing elit.
                </a>
              </li>
              <li class="list_news_li">
                <a class="list_news_a" href="#">Lorem ipsum dolor sit ameted consectetur adipisicing elit. Lorem ipsum
                  dolor sit ameted consectetur adipisicing elit.
                </a>
              </li>
              <li class="list_news_li">
                <a class="list_news_a" href="#">Lorem ipsum dolor sit ameted consectetur adipisicing elit. Lorem ipsum
                  dolor sit ameted consectetur adipisicing elit.
                </a>
              </li>
              <li class="list_news_li">
                <a class="list_news_a" href="#">Lorem ipsum dolor sit ameted consectetur adipisicing elit. Lorem ipsum
                  dolor sit ameted consectetur adipisicing elit.
                </a>
              </li>
              <li class="list_news_li">
                <a class="list_news_a" href="#">Lorem ipsum dolor sit ameted consectetur adipisicing elit. Lorem ipsum
                  dolor sit ameted consectetur adipisicing elit.
                </a>
              </li>
            </ul>
            <a class="view-more-news" href="#" title="Xem danh sách tin đầy đủ">
              <img src="../public/img/viewmore-hover.png" /></a>
          </div>
        </div>
        <!-- NỘi DUNG TIN -->
        <div class="col-xs-12 col-sm-8 col-lg-9 my-3">
          <div class="instruction-top top-title-frame">
            <p>HƯỚNG DẪN THỦ TỤC HÀNH CHÍNH</p>
          </div>
          <div class="instruction-content">
            <p>Tìm kiếm thủ tục hành chính</p>
            <!-- 1 -->
            <div class="form-group form-group-new">
              <span class="col-md-4 control-label" style="font-weight:bold;">Chọn cơ quan:</span>
              <div class="col-md-5">
                <select style="width:100%;">
                </select>
              </div>
            </div>
            <!-- 2 -->
            <div class="form-group form-group-new">
              <span class="col-md-4 control-label" style="font-weight:bold;">Lĩnh vực:</span>
              <div class="col-md-5">
                <select style="width:100%;">
                </select>
              </div>
            </div>
            <!-- 3 -->
            <div class="form-group form-group-new">
              <label class="col-md-4 control-label">Tên dịch vụ:</label>
              <div class="col-md-5">
                <input type="text" id="txtDichVu" style="width:100%;">
              </div>
            </div>
            <!-- 4 -->
            <div class="form-group form-group-new">
              <label class="col-md-4 control-label">Mã dịch vụ:</label>
              <div class="col-md-5">
                <input type="text" id="txtMaDichVu" style="width:100%;">
              </div>
            </div>
            <!-- 5 -->
            <div class="form-group form-group-new">
              <span class="col-md-4 control-label" style="font-weight:bold;">Mức độ:</span>
              <div class="col-md-5">
                <select style="width:100%;">
                </select>
              </div>
            </div>
            <!-- 6 -->
            <div class="form-group form-group-new">
              <label class="col-md-4 control-label"></label>
              <div class="col-md-5">
                <input type="submit" value="Tìm kiếm" id="TK" class="btn-search">
              </div>
            </div>
            <!-- 7 -->
          </div>
          <!-- KẾT QUẢ TÌM KIẾM -->
          <div class="result-area">
            <div class="result-top-title top-title-frame">
              <p>DANH SÁCH THỦ TỤC HÀNH CHÍNH (Tổng số: 11953 thủ tục)</p>
            </div>
            <div>
              <table cellspacing="0" cellpadding="4" rules="all" class="table table-bordered table-result">
                <tbody>
                  <tr class="table-headline">
                    <th text-align="center" scope="col">STT</th>
                    <th scope="col">MÃ TTHC</th>
                    <th scope="col">THỦ TỤC HÀNH CHÍNH</th>
                    <th text-align="center" scope="col">NƠI TIẾP NHẬN</th>
                    <th scope="col">GỬI HỒ SƠ</th>
                  </tr>
                  <tr>
                    <td text-align="center" style="width:2%;">
                      1
                    </td>
                    <td text-align="justify">
                      <a href="#">1.004173</a>
                    </td>
                    <td text-align="justify">
                      <a href="#">Đổi giấy chứng nhận
                        đăng ký xe, biển số xe</a>
                    </td>
                    <td text-align="left" style="width:25%;">
                      <a class="thickbox" href="#">UBND HUYỆN QUANG
                        BÌNH</a>
                    </td>
                    <td text-align="center" style="width:14%;">

                    </td>
                  </tr>
                  <tr>
                    <td text-align="center" style="width:2%;">
                      2
                    </td>
                    <td text-align="justify">
                      <a href="#">1.004170</a>
                    </td>
                    <td text-align="justify">
                      <a href="#">Cấp lại giấy chứng nhận
                        đăng ký xe, biển số xe</a>
                    </td>
                    <td text-align="left" style="width:25%;">
                      <a class="thickbox" href="#">UBND HUYỆN QUANG
                        BÌNH</a>
                    </td>
                    <td text-align="center" style="width:14%;">

                    </td>
                  </tr>
                  <tr>
                    <td text-align="center" style="width:2%;">
                      3
                    </td>
                    <td text-align="justify">
                      <a href="#">1.004084</a>
                    </td>
                    <td text-align="justify">
                      <a href="#">Thu hồi giấy chứng nhận
                        đăng ký xe, biển số xe</a>
                    </td>
                    <td text-align="left" style="width:25%;">
                      <a class="thickbox" href="#">UBND HUYỆN QUANG
                        BÌNH</a>
                    </td>
                    <td text-align="center" style="width:14%;">
                    </td>
                  </tr>
                  <tr>
                    <td text-align="center" style="width:2%;">
                      4
                    </td>
                    <td text-align="justify">
                      <a href="#">1.000781</a>
                    </td>
                    <td text-align="justify">
                      <a href="#">Đăng ký, cấp biển số xe
                        lần đầu</a>
                    </td>
                    <td text-align="left" style="width:25%;">
                      <a class="thickbox" href="#">UBND HUYỆN QUANG
                        BÌNH</a>
                    </td>
                    <td text-align="center" style="width:14%;">
                    </td>
                  </tr>
                  <tr>
                    <td text-align="center" style="width:2%;">
                      5
                    </td>
                    <td text-align="justify">
                      <a href="#">1.000540</a>
                    </td>
                    <td text-align="justify">
                      <a href="#">Đăng ký sang tên trong
                        cùng điểm đăng ký Công an cấp huyện</a>
                    </td>
                    <td text-align="left" style="width:25%;">
                      <a class="thickbox" href="#">UBND HUYỆN QUANG
                        BÌNH</a>
                    </td>
                    <td text-align="center" style="width:14%;">

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-paginate-new" text-align="right" style="background-color: #EEEEEE;">
              <nav aria-label="Page navigation example pag-nav" class="pag-nav">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Toolbox -->
  <div class="tool_box">
    <a href="#">
      <div class="box-new box4 text-center" style="margin-bottom: 5px!important">
        <img src="../public/img/step.png">
      </div>
    </a>
  </div>

  <!-- Footer -->
  <footer>
    <div class="web-fter container">
      <h5>CỔNG DỊCH VỤ CÔNG TỈNH HÀ GIANG</h5>
      <p>CƠ QUAN CHỦ QUẢN: VĂN PHÒNG UBND TỈNH HÀ GIANG</p>
      <p>Email: vpubnd@hagiang.gov.vn</p>
    </div>
  </footer>
  <!-- Back to top button -->
  <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
    <i class="fas fa-arrow-up"></i>
  </button>

  <!-- JS -->
  <script src="../public/js/jquery-3.3.1.slim.min.js"></script>
  <script src="../public/js/popper.min.js"></script>
  <script src="../public/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/d4f4e734fe.js" crossorigin="anonymous"></script>
  <script src="../public/js/custom/backToTop.js"></script>
</body>

</html>